<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" template="../template.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="contenido">
		<div class="tituloPrincipal">Bienvenido</div>
	</ui:define>
</ui:composition>