<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Level 3</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
    <h:body>
        <h:form id="level3form">
           <h:panelGrid columns="2" cellpadding="6">
      
 	<p:outputLabel for="nombre" value="Nombres:" />
    <p:inputText id="nombre" />
    
    <p:outputLabel for="apellido" value="Apellidos:" />
    <p:inputText id="apellido" />
    
  
    
    <p:outputLabel for="tipoidentificacion_id" value="Tipo identificacion:" />
    <p:selectOneMenu id="tipoidentificacion_id">
        <f:selectItem itemLabel="Select One" itemValue="" />
        <f:selectItem itemLabel="Option 1" itemValue="1" />
        <f:selectItem itemLabel="Option 2" itemValue="2" />
        <f:selectItem itemLabel="Option 3" itemValue="3" />
    </p:selectOneMenu>
    
    <p:outputLabel for="identificacion" value="Identificacion:" />
    <p:inputText id="identificacion" />
    
 
    <p:outputLabel for="tipociudad_id" value="Ciudad:" />
    <p:selectOneMenu id="tipociudad_id">
        <f:selectItem itemLabel="Select One" itemValue="" />
        <f:selectItem itemLabel="Option 1" itemValue="1" />
        <f:selectItem itemLabel="Option 2" itemValue="2" />
        <f:selectItem itemLabel="Option 3" itemValue="3" />
    </p:selectOneMenu>
    
    </h:panelGrid>
                    
    <p:commandButton value="Send" actionListener="#{cliente.closeDialog()}" />
        </h:form>
    </h:body>
</html>