<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" template="../../template.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="contenido">
		<div class="tituloPrincipal">Controles</div>
		<div class="contenedor">

			<h:form id="frmLista">
				<p:growl id="msgs" showDetail="true" />
				<p:dataTable id="tablaListar" var="item"
					value="#{controlBean.listControles}"
					emptyMessage="No hay controles registrados" paginator="true"
					paginatorPosition="top" rows="10" widgetVar="controltable">
					<f:facet name="header">
						<div class="ui-g">
							<div class="ui-g-6">
								<p:commandButton value="Nuevo Control" type="button" actionListener="#{controlBean.prepararNuevoRegistro()}"
									onclick="PF('dialogoNuevo').show();" update=":formNuevo" />
							</div>

							<!-- <div class="ui-g-6">
								<p:outputPanel>
									<h:outputText value="Buscar Control: " />
									<p:inputText id="globalFilter"
										onkeyup="PF('controltable').filter()" style="width:150px"
										placeholder="Ingrese el campo" />
								</p:outputPanel>
							</div> -->

						</div>
					</f:facet>

					<p:column id="responsable" headerText="Responsable"
						filterBy="#{item.responsableRodamiento}"
						filterMatchMode="contains">
						<p:outputLabel value="#{item.responsableRodamiento}"></p:outputLabel>
					</p:column>
					<p:column id="destino" headerText="Destino"
						filterBy="#{item.destino}">
						<p:outputLabel value="#{item.destino}"></p:outputLabel>
					</p:column>
					<p:column headerText="Fecha" id="fecha" filterBy="#{item.fecha}">
						<p:outputLabel value="#{item.fecha}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Hora salida" id="horaSalida"
						filterBy="#{item.horaSalida}">
						<p:outputLabel value="#{item.horaSalida}"></p:outputLabel>
					</p:column>

					<p:column headerText="Vehiculo" id="vehiculo"
						filterBy="#{item.vehiculo.numero}">
						<p:outputLabel value="#{item.vehiculo.numero} - #{item.vehiculo.placa}"></p:outputLabel>
					</p:column>

					<p:column headerText="Modificar" style="width:108px">
						<p:commandButton value="Modificar"
							oncomplete="PF('dialogModificar').show();"
							update=":formModificar"
							actionListener="#{controlBean.onCompanyChange3(item)}">
							<f:setPropertyActionListener value="#{item}"
								target="#{controlBean.control}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
					<p:column headerText="Eliminar" style="width:108px">
						<p:commandButton value="Eliminar"
							oncomplete="PF('dialogEliminar').show();" update=":formEliminar">
							<f:setPropertyActionListener value="#{item}"
								target="#{controlBean.control}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<h:form id="formNuevo">
				<p:dialog id="dlgNuevo" widgetVar="dialogoNuevo" resizable="false"
					showEffect="explode" hideEffect="explode" modal="true"
					header="Nuevo Control">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel for="responsable" value="Responsable"></p:outputLabel>
						<p:inputText id="responsable"
							value="#{controlBean.control.responsableRodamiento}"
							required="true"
							requiredMessage="El campo *Responsable* no debe ser vacio">
						</p:inputText>
						
						<p:outputLabel for="pais" value="Pais"></p:outputLabel>
						<p:selectOneMenu id="pais"
							converter="omnifaces.SelectItemsIndexConverter"
							value="#{departamentoBean.paisCombo}" style="width:125px">
							<p:ajax listener="#{departamentoBean.onCountryChange}" update="departamento destino" />
							<f:selectItem itemLabel="Seleccione Pais" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{paisBean.listPaices}" var="p"
								itemLabel="#{p.nombre}" itemValue="#{p}" />
						</p:selectOneMenu>
						
						<p:outputLabel for="departamento" value="Departamento"></p:outputLabel>
						<p:selectOneMenu id="departamento"
							converter="omnifaces.SelectItemsIndexConverter"
							value="#{municipioBean.departamentoCombo}" style="width:125px">
							<p:ajax listener="#{municipioBean.onDepartamentoChange}" update="destino" />
							<f:selectItem itemLabel="Seleccione Departamento" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{departamentoBean.listDepartamentosPorPais}" var="d"
								itemLabel="#{d.nombre}" itemValue="#{d}" />
						</p:selectOneMenu>
						
						<p:outputLabel for="destino" value="Municipio"></p:outputLabel>
						<p:selectOneMenu id="destino"
							converter="omnifaces.SelectItemsIndexConverter"
							required="true"
							requiredMessage="El campo *Municipio* no debe ser vacio"
							value="#{controlBean.control.destino}" style="width:125px">
							<f:selectItem itemLabel="Seleccione Municipio" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{municipioBean.listMunicipiosPorDepartamento}" var="m"
								itemLabel="#{m.nombre}" itemValue="#{m.nombre}" />
						</p:selectOneMenu>
						
						<p:outputLabel for="zona" value="Zona"></p:outputLabel>
						<p:selectOneMenu id="zona"
							converter="omnifaces.SelectItemsIndexConverter"
							required="true"
							requiredMessage="El campo *Zona* no debe ser vacio"
							value="#{controlBean.control.zona}" style="width:125px">
							<f:selectItem itemLabel="Seleccione Zona" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{zonaBean.listZonas}" var="z"
								itemLabel="#{z.nombre}" itemValue="#{z}" />
						</p:selectOneMenu>

						<p:outputLabel for="horaSalida" value="Hora salida"></p:outputLabel>
						<p:inputMask placeholder="08:30 pm" id="horaSalida"
							required="true"
							requiredMessage="El campo *Hora salida* no debe ser vacio"
							value="#{controlBean.control.horaSalida}" mask="99:99 aa">
						</p:inputMask>

						<p:outputLabel for="fecha" value="Fecha" />
						<p:calendar id="fecha" value="#{controlBean.fechaDate}"
							pattern="yyyy-MM-dd" required="true"
							mindate="#{now}"
							requiredMessage="El campo *Fecha* no debe ser vacio">
							<f:convertDateTime pattern="yyyy-MM-dd" />
						</p:calendar>
						
						<p:outputLabel for="empresa" value="Empresa"></p:outputLabel>
						<p:selectOneMenu id="empresa"
							converter="omnifaces.SelectItemsIndexConverter"
							value="#{vehiculoBean.empresaCombo}" style="width:125px">
							<p:ajax listener="#{vehiculoBean.onCompanyChange}" update="vehiculo" />
							<f:selectItem itemLabel="Seleccione Empresa" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{empresaBean.listEmpresas}" var="e"
								itemLabel="#{e.nombre}" itemValue="#{e}" />
						</p:selectOneMenu>

						<p:outputLabel for="vehiculo" value="Vehiculo"></p:outputLabel>
						<p:selectOneMenu id="vehiculo"
							converter="omnifaces.SelectItemsIndexConverter"
							value="#{controlBean.control.vehiculo}" style="width:125px"
							requiredMessage="El campo *Vehiculo* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccione Vehiculo" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{vehiculoBean.listVehiculosPorEmpresa}" var="v"
								itemLabel="#{v.numero} - #{v.placa}" itemValue="#{v}" />
						</p:selectOneMenu>

					</p:panelGrid>

					<p:commandButton value="Guardar"
						actionListener="#{controlBean.agregar()}"
						update=":frmLista:tablaListar :frmLista:msgs :formNuevo"
						validateClient="true" oncomplete="PF('dialogoNuevo').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogoNuevo').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<h:form id="formModificar">
				<p:dialog id="dlgModificar" widgetVar="dialogModificar"
					resizable="false" showEffect="explode" hideEffect="explode"
					modal="true" header="Modificar control">
					<p:panelGrid columns="2" style="margin: 0 auto;">


						<p:outputLabel value="Responsable"></p:outputLabel>
						<p:inputText id="responsable"
							value="#{controlBean.control.responsableRodamiento}"
							required="true"
							disabled="true"
							requiredMessage="El campo *Responsable* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Destino"></p:outputLabel>
						<p:inputText id="destino" value="#{controlBean.control.destino}"
							required="true"
							disabled="true"
							requiredMessage="El campo *Destino* no debe ser vacio">
						</p:inputText>

						<p:outputLabel for="horaSalida" value="Hora salida"></p:outputLabel>
						<p:inputMask placeholder="08:30 pm" id="horaSalida"
							required="true"
							requiredMessage="El campo *Hora salida* no debe ser vacio"
							value="#{controlBean.control.horaSalida}" mask="99:99 aa">
						</p:inputMask>
						
						<p:outputLabel value="Fecha"></p:outputLabel>
						<h:outputText value="#{controlBean.control.fecha}">
							<f:convertDateTime pattern="yyyy-MM-dd" />
						</h:outputText>
						
						<p:outputLabel for="empresa" value="Empresa"></p:outputLabel>
						<p:selectOneMenu id="empresa"
							converter="omnifaces.SelectItemsIndexConverter"
							value="#{controlBean.control.vehiculo.empresa}" style="width:125px">
							<p:ajax listener="#{controlBean.onCompanyChange2}" update="vehiculo" />
							<f:selectItem itemLabel="Seleccione Empresa" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{empresaBean.listEmpresas}" var="e"
								itemLabel="#{e.nombre}" itemValue="#{e}" />
						</p:selectOneMenu>

						<p:outputLabel for="vehiculo" value="Vehiculo"></p:outputLabel>
						<p:selectOneMenu id="vehiculo"
							converter="omnifaces.SelectItemsIndexConverter"
							value="#{controlBean.control.vehiculo}" style="width:125px"
							requiredMessage="El campo *Vehiculo* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccione Vehiculo" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{controlBean.listVehiculosPorEmpresa}" var="v"
								itemLabel="#{v.numero} - #{v.placa}" itemValue="#{v}" />
						</p:selectOneMenu>
						
						
						<!-- <p:outputLabel for="vehiculo" value="Vehiculo"></p:outputLabel>
						<p:selectOneMenu id="vehiculo" value="#{controlBean.control.vehiculo.id}"
							converter="omnifaces.SelectItemsIndexConverter"
							style="width:125px"
							requiredMessage="El campo *Vehiculo* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccionar ..." itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{vehiculoBean.listVehiculos}" var="v"
								itemLabel="#{v.numero}" itemValue="#{v.id}" />
						</p:selectOneMenu> -->
						
						<!-- <p:outputLabel value="Fecha Anterior"></p:outputLabel>
						<h:outputText value="#{controlBean.control.fecha}">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
						</h:outputText>

						<p:outputLabel for="fecha" value="Fecha" />
						<p:calendar id="fecha" value="#{controlBean.fechaDate}"
							pattern="yyyy-MM-dd HH:mm:ss" required="true"
							requiredMessage="El campo *Fecha* no debe ser vacio">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
						</p:calendar> -->


					</p:panelGrid>

					<p:commandButton value="Modificar"
						actionListener="#{controlBean.editar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogModificar').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogModificar').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<!-- dialogo eliminar -->
			<h:form id="formEliminar">
				<p:dialog id="dlgEliminar" widgetVar="dialogEliminar"
					resizable="false" showEffect="explode" hideEffect="explode"
					header="Eliminar Control" modal="true">
					<h:outputText value="Quiere eliminar este registro? "></h:outputText>
					<p:commandButton value="SI"
						actionListener="#{controlBean.eliminar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						oncomplete="PF('dialogEliminar').hide();">
					</p:commandButton>
					<p:commandButton value="No" onclick="PF('dialogEliminar').hide();"></p:commandButton>

				</p:dialog>
			</h:form>
			<!-- fin dialogo eliminar -->

		</div>
	</ui:define>
</ui:composition>
