<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" template="../../template.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="contenido">
		<div class="tituloPrincipal">Empresas</div>
		<div class="contenedor">

			<h:form id="frmLista">
				<p:growl id="msgs" showDetail="true" />
				<p:dataTable id="tablaListar" var="item"
					value="#{empresaBean.listEmpresas}"
					emptyMessage="No hay empresas registradas" paginator="true"
					paginatorPosition="top" rows="10" widgetVar="empresatable">
					<f:facet name="header">
						<div class="ui-g">
							<div class="ui-g-6">
								<p:commandButton value="Nueva Empresa" type="button"
									onclick="PF('dialogoNuevo').show();" />
							</div>

							<!-- <div class="ui-g-6">
								<p:outputPanel>
									<h:outputText value="Buscar Empresa: " />
									<p:inputText id="globalFilter"
										onkeyup="PF('empresatable').filter()" style="width:150px"
										placeholder="Ingrese el campo" />
								</p:outputPanel>
							</div> -->

						</div>
					</f:facet>

					<p:column id="nit" headerText="Nit" filterBy="#{item.nit}"
						filterMatchMode="contains">
						<p:outputLabel value="#{item.nit}"></p:outputLabel>
					</p:column>
					<p:column id="nombre" headerText="Nombre" filterBy="#{item.nombre}">
						<p:outputLabel value="#{item.nombre}"></p:outputLabel>
					</p:column>
					<p:column headerText="Telefono" id="telefono"
						filterBy="#{item.telefono}">
						<p:outputLabel value="#{item.telefono}"></p:outputLabel>
					</p:column>
					<p:column headerText="Celular" id="celular"
						filterBy="#{item.celular}">
						<p:outputLabel value="#{item.celular}"></p:outputLabel>
					</p:column>
					<p:column headerText="Dirección" id="direccion"
						filterBy="#{item.direccion}">
						<p:outputLabel value="#{item.direccion}"></p:outputLabel>
					</p:column>
					<p:column headerText="Correo" id="email" filterBy="#{item.email}">
						<p:outputLabel value="#{item.email}"></p:outputLabel>
					</p:column>
					<p:column headerText="Modificar">
						<p:commandButton value="Modificar"
							oncomplete="PF('dialogModificar').show();"
							update=":formModificar">
							<f:setPropertyActionListener value="#{item}"
								target="#{empresaBean.empresa}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
					<p:column headerText="Eliminar">
						<p:commandButton value="Eliminar"
							oncomplete="PF('dialogEliminar').show();" update=":formEliminar">
							<f:setPropertyActionListener value="#{item}"
								target="#{empresaBean.empresa}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<h:form id="formNuevo">
				<p:dialog id="dlgNuevo" widgetVar="dialogoNuevo" resizable="false"
					showEffect="explode" hideEffect="explode" modal="true"
					header="Nueva empresa">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel value="Nit"></p:outputLabel>
						<p:inputText id="nit" value="#{empresaBean.empresa.nit}"
							required="true"
							pt:type="number"
							requiredMessage="El campo *Nit* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Nombre"></p:outputLabel>
						<p:inputText id="nombre" value="#{empresaBean.empresa.nombre}"
							required="true"
							requiredMessage="El campo *Nombre* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Telefono"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.telefono}"
						required="true"
						pt:type="number"
						requiredMessage="El campo *Telefono* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Celular"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.celular}"
						required="true"
						pt:type="number"
						requiredMessage="El campo *Celular* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Dirección"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.direccion}"
						required="true"
						requiredMessage="El campo *Dirección* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Email"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.email}"
						validatorMessage="Email no valido"
						pt:type="email"
						required="true"
						requiredMessage="El campo *Email* no debe ser vacio">
						<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
						</p:inputText>

					</p:panelGrid>

					<p:commandButton value="Guardar"
						actionListener="#{empresaBean.agregar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogoNuevo').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogoNuevo').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<h:form id="formModificar">
				<p:dialog id="dlgModificar" widgetVar="dialogModificar"
					resizable="false" showEffect="explode" hideEffect="explode"
					modal="true" header="Modificar empresa">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel value="Nit"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.nit}" required="true"
							requiredMessage="El campo *Nit* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Nombre"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.nombre}" required="true"
							requiredMessage="El campo *Nombre* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Telefono"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.telefono}"></p:inputText>

						<p:outputLabel value="Celular"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.celular}"></p:inputText>

						<p:outputLabel value="Dirección"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.direccion}"></p:inputText>

						<p:outputLabel value="Correo"></p:outputLabel>
						<p:inputText value="#{empresaBean.empresa.email}"></p:inputText>

					</p:panelGrid>

					<p:commandButton value="Modificar"
						actionListener="#{empresaBean.editar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogModificar').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogModificar').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<!-- dialogo eliminar -->
			<h:form id="formEliminar">
				<p:dialog id="dlgEliminar" widgetVar="dialogEliminar"
					resizable="false" showEffect="explode" hideEffect="explode"
					header="Eliminar Empresa" modal="true">
					<h:outputText value="Quiere eliminar este registro? "></h:outputText>
					<p:commandButton value="SI"
						actionListener="#{empresaBean.eliminar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						oncomplete="PF('dialogEliminar').hide();">
					</p:commandButton>
					<p:commandButton value="No" onclick="PF('dialogEliminar').hide();"></p:commandButton>

				</p:dialog>
			</h:form>
			<!-- fin dialogo eliminar -->

		</div>
	</ui:define>
</ui:composition>
