<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" template="../../template.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="contenido">
		<div class="tituloPrincipal">Tipos de Servicios</div>
		<div class="contenedor">

			<h:form id="frmLista">
				<p:growl id="msgs" showDetail="true" />
				<p:dataTable id="tablaListar" var="item"
					value="#{tipoServicioBean.listTiposServicios}"
					emptyMessage="No hay grupos registrados" paginator="true"
					paginatorPosition="top" rows="10" widgetVar="tiposerviciotable">
					<f:facet name="header">
						<div class="ui-g">
							<div class="ui-g-6">
								<p:commandButton value="Nuevo Servicio" type="button"
									onclick="PF('dialogoNuevo').show();" />
							</div>

							<!-- <div class="ui-g-6">
								<p:outputPanel>
									<h:outputText value="Buscar Servicio: " />
									<p:inputText id="globalFilter"
										onkeyup="PF('tiposerviciotable').filter()" style="width:150px"
										placeholder="Ingrese el campo" />
								</p:outputPanel>
							</div> -->

						</div>
					</f:facet>

					<p:column id="nombre" headerText="Nombre" filterBy="#{item.nombre}">
						<p:outputLabel value="#{item.nombre}"></p:outputLabel>
					</p:column>
					
					<p:column headerText="Modificar">
						<p:commandButton value="Modificar"
							oncomplete="PF('dialogModificar').show();"
							update=":formModificar">
							<f:setPropertyActionListener value="#{item}"
								target="#{tipoServicioBean.tipoServicio}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
					<p:column headerText="Eliminar">
						<p:commandButton value="Eliminar"
							oncomplete="PF('dialogEliminar').show();" update=":formEliminar">
							<f:setPropertyActionListener value="#{item}"
								target="#{tipoServicioBean.tipoServicio}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<h:form id="formNuevo">
				<p:dialog id="dlgNuevo" widgetVar="dialogoNuevo" resizable="false"
					showEffect="explode" hideEffect="explode" modal="true"
					header="Nuevo servicio">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel value="Nombre"></p:outputLabel>
						<p:inputText id="nombre" value="#{tipoServicioBean.tipoServicio.nombre}"
							required="true"
							requiredMessage="El campo *Nombre* no debe ser vacio">
						</p:inputText>

					</p:panelGrid>

					<p:commandButton value="Guardar"
						actionListener="#{tipoServicioBean.agregar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogoNuevo').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogoNuevo').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<h:form id="formModificar">
				<p:dialog id="dlgModificar" widgetVar="dialogModificar"
					resizable="false" showEffect="explode" hideEffect="explode"
					modal="true" header="Modificar grupo">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel value="Nombre"></p:outputLabel>
						<p:inputText value="#{tipoServicioBean.tipoServicio.nombre}" required="true"
							requiredMessage="El campo *Nombre* no debe ser vacio">
						</p:inputText>

					</p:panelGrid>

					<p:commandButton value="Modificar"
						actionListener="#{tipoServicioBean.editar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogModificar').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogModificar').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<!-- dialogo eliminar -->
			<h:form id="formEliminar">
				<p:dialog id="dlgEliminar" widgetVar="dialogEliminar"
					resizable="false" showEffect="explode" hideEffect="explode"
					header="Eliminar grupo" modal="true">
					<h:outputText value="Quiere eliminar este registro? "></h:outputText>
					<p:commandButton value="SI"
						actionListener="#{tipoServicioBean.eliminar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						oncomplete="PF('dialogEliminar').hide();">
					</p:commandButton>
					<p:commandButton value="No" onclick="PF('dialogEliminar').hide();"></p:commandButton>

				</p:dialog>
			</h:form>
			<!-- fin dialogo eliminar -->

		</div>
	</ui:define>
</ui:composition>
