<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" template="../../template.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="contenido">
		<div class="tituloPrincipal">Vehiculos</div>
		<div class="contenedor">

			<h:form id="frmLista">
				<p:growl id="msgs" showDetail="true" />
				<p:dataTable id="tablaListar" var="item"
					value="#{vehiculoBean.listVehiculos}"
					emptyMessage="No hay vehiculos registrados" paginator="true"
					editable="true" paginatorPosition="top" rows="10"
					widgetVar="vehiculotable">
					<f:facet name="header">
						<div class="ui-g">
							<div class="ui-g-6">
								<p:commandButton value="Nuevo Vehiculo" type="button"
									onclick="PF('dialogoNuevo').show();" />
							</div>

							<!-- <div class="ui-g-6">
								<p:outputPanel>
									<h:outputText value="Buscar Vehiculo: " />
									<p:inputText id="globalFilter"
										onkeyup="PF('vehiculotable').filter()" style="width:150px"
										placeholder="Ingrese el campo" />
								</p:outputPanel>
							</div> -->

						</div>
					</f:facet>

					<p:column id="numero" headerText="Numero" filterBy="#{item.numero}">
						<p:outputLabel value="#{item.numero}"></p:outputLabel>
					</p:column>
					<p:column headerText="Placa" id="placa" filterBy="#{item.placa}">
						<p:outputLabel value="#{item.placa}"></p:outputLabel>
					</p:column>

					<p:column headerText="Tipo grupo" id="tipogrupo"
						filterBy="#{item.tipogrupo.nombre}">
						<p:outputLabel value="#{item.tipogrupo.nombre}"></p:outputLabel>
					</p:column>

					<p:column headerText="Empresa" id="empresa"
						filterBy="#{item.empresa.nombre}">
						<p:outputLabel value="#{item.empresa.nombre}"></p:outputLabel>
					</p:column>

					<p:column headerText="Tipo servicio" id="servicio"
						filterBy="#{item.tiposervicio.nombre}">
						<p:outputLabel value="#{item.tiposervicio.nombre}"></p:outputLabel>
					</p:column>
					
					<p:column headerText="Linea" id="linea"
						filterBy="#{item.linea.nombre}">
						<p:outputLabel value="#{item.linea.nombre}"></p:outputLabel>
					</p:column>

					<p:column headerText="Modificar">
						<p:commandButton value="Modificar"
							oncomplete="PF('dialogModificar').show();"
							update=":formModificar">
							<f:setPropertyActionListener value="#{item}"
								target="#{vehiculoBean.vehiculo}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
					<p:column headerText="Eliminar">
						<p:commandButton value="Eliminar"
							oncomplete="PF('dialogEliminar').show();" update=":formEliminar">
							<f:setPropertyActionListener value="#{item}"
								target="#{vehiculoBean.vehiculo}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<h:form id="formNuevo">
				<p:dialog id="dlgNuevo" widgetVar="dialogoNuevo" resizable="false"
					showEffect="explode" hideEffect="explode" modal="true"
					header="Nuevo Vehiculo">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel value="Numero"></p:outputLabel>
						<p:inputText id="numero" value="#{vehiculoBean.vehiculo.numero}"
							required="true" pt:type="number"
							requiredMessage="El campo *Numero* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Placa"></p:outputLabel>
						<p:inputText id="placa" value="#{vehiculoBean.vehiculo.placa}"
							required="true"
							requiredMessage="El campo *Placa* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Tipo grupo"></p:outputLabel>
						<p:selectOneMenu value="#{vehiculoBean.idTipogrupo}"
							style="width:125px"
							requiredMessage="El campo *Tipo grupo* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccionar ..." itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{tipoGrupoBean.listTiposGrupos}" var="tg"
								itemLabel="#{tg.nombre}" itemValue="#{tg.id}" />
						</p:selectOneMenu>

						<p:outputLabel value="Empresa"></p:outputLabel>
						<p:selectOneMenu value="#{vehiculoBean.idEmpresa}"
							style="width:125px"
							requiredMessage="El campo *Empresa* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccionar ..." itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{empresaBean.listEmpresas}" var="em"
								itemLabel="#{em.nombre}" itemValue="#{em.id}" />
						</p:selectOneMenu>

						<p:outputLabel value="Tipo servicio"></p:outputLabel>
						<p:selectOneMenu value="#{vehiculoBean.idTiposervicio}"
							style="width:125px"
							requiredMessage="El campo *Tipo servicio* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccionar ..." itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{tipoServicioBean.listTiposServicios}"
								var="ts" itemLabel="#{ts.nombre}" itemValue="#{ts.id}" />
						</p:selectOneMenu>

						<p:outputLabel value="Linea"></p:outputLabel>
						<p:selectOneMenu value="#{vehiculoBean.idLinea}"
							style="width:125px"
							requiredMessage="El campo *Linea* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccionar ..." itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{lineaBean.listLineas}" var="ts"
								itemLabel="#{ts.nombre}" itemValue="#{ts.id}" />
						</p:selectOneMenu>

					</p:panelGrid>

					<p:commandButton value="Guardar"
						actionListener="#{vehiculoBean.agregar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogoNuevo').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogoNuevo').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<h:form id="formModificar">
				<p:dialog id="dlgModificar" widgetVar="dialogModificar"
					resizable="false" showEffect="explode" hideEffect="explode"
					modal="true" header="Modificar vehiculo">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel var="hola" value="Linea"></p:outputLabel>
						
						<p:selectOneMenu id="linea" value="#{vehiculoBean.vehiculo.linea}"
						converter="omnifaces.SelectItemsIndexConverter"
									style="width:125px"
									requiredMessage="El campo *Linea* no debe ser vacio"
									required="true">
									<f:selectItem itemLabel="#{vehiculoBean.vehiculo.linea.nombre}"
										itemValue="#{vehiculoBean.vehiculo.linea.id}" />
									<f:selectItems value="#{lineaBean.listLineas}" var="linea"
										itemLabel="#{linea.nombre}" itemValue="#{linea}" />
								</p:selectOneMenu>

						<p:outputLabel value="Numero"></p:outputLabel>
						<p:inputText id="numero" value="#{vehiculoBean.vehiculo.numero}"
							required="true"
							requiredMessage="El campo *Numero* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Placa"></p:outputLabel>
						<p:inputText id="placa" value="#{vehiculoBean.vehiculo.placa}"
							required="true"
							requiredMessage="El campo *Placa* no debe ser vacio">
						</p:inputText>

						<p:outputLabel value="Tipo grupo"></p:outputLabel>
						<p:selectOneMenu id="tipogrupo" value="#{vehiculoBean.vehiculo.tipogrupo}"
						converter="omnifaces.SelectItemsIndexConverter"
							style="width:125px"
							requiredMessage="El campo *Tipo grupo* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="#{vehiculoBean.vehiculo.tipogrupo.nombre}"
										itemValue="#{vehiculoBean.vehiculo.tipogrupo.id}" />
							<f:selectItems value="#{tipoGrupoBean.listTiposGrupos}" var="tg"
								itemLabel="#{tg.nombre}" itemValue="#{tg}" />
						</p:selectOneMenu>

						<p:outputLabel value="Empresa"></p:outputLabel>
						<p:selectOneMenu value="#{vehiculoBean.vehiculo.empresa}"
						converter="omnifaces.SelectItemsIndexConverter"
							style="width:125px"
							requiredMessage="El campo *Empresa* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="#{vehiculoBean.vehiculo.empresa.nombre}"
										itemValue="#{vehiculoBean.vehiculo.empresa.id}" />
							<f:selectItems value="#{empresaBean.listEmpresas}" var="em"
								itemLabel="#{em.nombre}" itemValue="#{em}" />
						</p:selectOneMenu>

						<p:outputLabel value="Tipo servicio"></p:outputLabel>
						<p:selectOneMenu
							value="#{vehiculoBean.vehiculo.tiposervicio}"
							converter="omnifaces.SelectItemsIndexConverter"
							style="width:125px"
							requiredMessage="El campo *Tipo servicio* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="#{vehiculoBean.vehiculo.tiposervicio.nombre}"
										itemValue="#{vehiculoBean.vehiculo.tiposervicio.id}" />
							<f:selectItems value="#{tipoServicioBean.listTiposServicios}"
								var="ts" itemLabel="#{ts.nombre}" itemValue="#{ts}" />
						</p:selectOneMenu>


					</p:panelGrid>

					<p:commandButton value="Modificar"
						actionListener="#{vehiculoBean.editar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogModificar').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogModificar').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<!-- dialogo eliminar -->
			<h:form id="formEliminar">
				<p:dialog id="dlgEliminar" widgetVar="dialogEliminar"
					resizable="false" showEffect="explode" hideEffect="explode"
					header="Eliminar Vehiculo" modal="true">
					<h:outputText value="Quiere eliminar este registro? "></h:outputText>
					<p:commandButton value="SI"
						actionListener="#{vehiculoBean.eliminar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						oncomplete="PF('dialogEliminar').hide();">
					</p:commandButton>
					<p:commandButton value="No" onclick="PF('dialogEliminar').hide();"></p:commandButton>

				</p:dialog>
			</h:form>
			<!-- fin dialogo eliminar -->

		</div>
	</ui:define>
</ui:composition>
