<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" template="../../template.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="contenido">
		<div class="tituloPrincipal">Logos</div>

		<div class="contenedor">

			<h:form id="frmLista">
				<p:growl id="msgs" showDetail="true" />
				<p:dataTable id="tablaListar" var="item"
					value="#{imagenBean.listImagenes}"
					emptyMessage="No hay Imagenes registradas" paginator="true"
					paginatorPosition="top" rows="10" widgetVar="imagentable">
					<f:facet name="header">
						<div class="ui-g">
							<div class="ui-g-6">
								<p:commandButton value="Nuevo Imagen" type="button"
									onclick="PF('dialogoNuevo').show();" />
							</div>

							<!-- <div class="ui-g-6">
								<p:outputPanel>
									<h:outputText value="Buscar Imagen: " />
									<p:inputText id="globalFilter"
										onkeyup="PF('imagentable').filter()" style="width:150px"
										placeholder="Ingrese el campo" />
								</p:outputPanel>
							</div> -->

						</div>
					</f:facet>

					<p:column id="nombre" headerText="Nombre" filterBy="#{item.nombre}">
						<h:outputText value="#{item.nombre}">
						</h:outputText>
					</p:column>


					<p:column id="ruta" headerText="Ruta" filterBy="#{item.ruta}">
						<h:outputText value="#{item.ruta}">
						</h:outputText>
					</p:column>

					<p:column headerText="Modificar">
						<p:commandButton value="Modificar"
							oncomplete="PF('dialogModificar').show();"
							update=":formModificar">
							<f:setPropertyActionListener value="#{item}"
								target="#{imagenBean.imagen}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
					<p:column headerText="Eliminar">
						<p:commandButton value="Eliminar"
							oncomplete="PF('dialogEliminar').show();" update=":formEliminar">
							<f:setPropertyActionListener value="#{item}"
								target="#{imagenBean.imagen}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<h:form id="formNuevo" enctype="multipart/form-data">
				<p:dialog id="dlgNuevo" widgetVar="dialogoNuevo" resizable="false"
					showEffect="explode" hideEffect="explode"
					header="Nueva Imagen">

					<p:outputLabel for="logo" value="Subir Logo"></p:outputLabel>
					<p:fileUpload id="logo"
						fileUploadListener="#{imagenBean.handleFileUploadkiller}"
						mode="advanced" dragDropSupport="false" update=":frmLista:msgs :formNuevo:ruta"
						sizeLimit="209715200" fileLimit="1" allowTypes="/(\.|\/)(jpg)$/"
						onstart="console.log('Iniciando envio de arquivo')"
						onerror="console.log('Erro na requisição de envio')"
						oncomplete="console.log('Envio concluído')" />
					<br></br>

					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel for="ruta" value="Ruta"></p:outputLabel>
						<p:inputText id="ruta" 
							value="#{imagenBean.imagen.ruta}" required="true"
							requiredMessage="El campo *Ruta* no debe ser vacio">
						</p:inputText>
						
						<p:outputLabel for="nombre" value="Nombre"></p:outputLabel>
						<p:inputText id="nombre"
							value="#{imagenBean.imagen.nombre}" required="true"
							requiredMessage="El campo *Nombre* no debe ser vacio">
						</p:inputText>

					</p:panelGrid>
					
					<br></br>

					<p:commandButton value="Guardar"
						actionListener="#{imagenBean.agregar()}"
						update=":frmLista:tablaListar :frmLista:msgs :formNuevo"
						validateClient="true" oncomplete="PF('dialogoNuevo').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogoNuevo').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<h:form id="formModificar">
				<p:dialog id="dlgModificar" widgetVar="dialogModificar"
					resizable="false" showEffect="explode" hideEffect="explode"
					modal="true" header="Modificar programación" appendToBody="true">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel for="nombre" value="Nombre"></p:outputLabel>
						<p:inputText id="nombre"
							value="#{imagenBean.imagen.nombre}" required="true"
							requiredMessage="El campo *Nombre* no debe ser vacio">
						</p:inputText>

						<p:outputLabel for="ruta" value="Ruta"></p:outputLabel>
						<p:inputText id="ruta" value="#{imagenBean.imagen.ruta}"
							required="true"
							requiredMessage="El campo *Ruta* no debe ser vacio">
						</p:inputText>

					</p:panelGrid>

					<p:commandButton value="Modificar"
						actionListener="#{imagenBean.editar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogModificar').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogModificar').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<!-- dialogo eliminar -->
			<h:form id="formEliminar">
				<p:dialog id="dlgEliminar" widgetVar="dialogEliminar"
					resizable="false" showEffect="explode" hideEffect="explode"
					header="Eliminar imagen" modal="true">
					<h:outputText value="Quiere eliminar este registro? "></h:outputText>
					<p:commandButton value="SI"
						actionListener="#{imagenBean.eliminar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						oncomplete="PF('dialogEliminar').hide();">
					</p:commandButton>
					<p:commandButton value="No" onclick="PF('dialogEliminar').hide();"></p:commandButton>

				</p:dialog>
			</h:form>
			<!-- fin dialogo eliminar -->

		</div>
	</ui:define>
</ui:composition>
