<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" template="../../template.xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="contenido">
		<div class="tituloPrincipal">Programación</div>

		<div class="contenedor">

			<h:form id="frmLista">
				<p:growl id="msgs" showDetail="true" />
				<p:dataTable id="tablaListar" var="item"
					value="#{programacionBean.listprogramaciones}"
					emptyMessage="No hay programaciones registradas" paginator="true"
					paginatorPosition="top" rows="10" widgetVar="programaciontable">
					<f:facet name="header">
						<div class="ui-g">
							<div class="ui-g-6">
								<p:commandButton value="Nuevo Programacion" type="button"
									onclick="PF('dialogoNuevo').show();" />
							</div>

							<!-- <div class="ui-g-6">
								<p:outputPanel>
									<h:outputText value="Buscar Programacion: " />
									<p:inputText id="globalFilter"
										onkeyup="PF('programaciontable').filter()" style="width:150px"
										placeholder="Ingrese el campo" />
								</p:outputPanel>
							</div> -->

						</div>
					</f:facet>

					<!-- <p:column id="descripcion" headerText="Descripción" filterBy="#{item.descripcion}">
						<h:outputText value="#{item.descripcion}">
						</h:outputText>
					</p:column> -->


					<p:column id="fecha" headerText="Fecha" filterBy="#{item.fecha}">
						<h:outputText value="#{item.fecha}">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
						</h:outputText>
					</p:column>

					<p:column headerText="Modificar">
						<p:commandButton value="Modificar"
							oncomplete="PF('dialogModificar').show();"
							update=":formModificar">
							<f:setPropertyActionListener value="#{item}"
								target="#{programacionBean.programacion}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
					<p:column headerText="Eliminar">
						<p:commandButton value="Eliminar"
							oncomplete="PF('dialogEliminar').show();" update=":formEliminar">
							<f:setPropertyActionListener value="#{item}"
								target="#{programacionBean.programacion}">
							</f:setPropertyActionListener>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>

			<h:form id="formNuevo" enctype="multipart/form-data">
				<p:dialog id="dlgNuevo" widgetVar="dialogoNuevo" resizable="false"
					showEffect="explode" hideEffect="explode"
					header="Nueva programación">

					<p:outputLabel for="video" value="Subir Video"></p:outputLabel>
					<p:fileUpload id="video"
						fileUploadListener="#{programacionBean.handleFileUploadkiller}"
						mode="advanced" dragDropSupport="false" update=":frmLista:msgs :formNuevo:ruta"
						sizeLimit="209715200" fileLimit="1" allowTypes="/(\.|\/)(mp4)$/"
						onstart="console.log('Iniciando envio de arquivo')"
						onerror="console.log('Erro na requisição de envio')"
						oncomplete="console.log('Envio concluído')" />
					<br></br>

					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel for="descripcion" value="Descripción"></p:outputLabel>
						<p:inputText id="descripcion"
							value="#{programacionBean.banner.descripcion}" required="true"
							requiredMessage="El campo *Descripción* no debe ser vacio">
						</p:inputText>

						<p:outputLabel for="empresa" value="Empresa"></p:outputLabel>
						<p:inputText id="empresa"
							value="#{programacionBean.banner.empresaContratante}"
							required="true"
							requiredMessage="El campo *Empresa* no debe ser vacio">
						</p:inputText>

						<p:outputLabel for="ruta" value="Ruta"></p:outputLabel>
						<p:inputText id="ruta" value="#{programacionBean.banner.ruta}"
							required="true"
							requiredMessage="El campo *Ruta* no debe ser vacio">
						</p:inputText>

						<p:outputLabel for="activo" value="Activo"></p:outputLabel>
						<p:selectBooleanButton id="activo" required="true"
							value="#{programacionBean.banner.activo}" onLabel="Yes"
							offLabel="No" style="width:60px" />

						<p:outputLabel for="caduca" value="Caduca"></p:outputLabel>
						<p:calendar id="caduca" value="#{programacionBean.fechaDate2}"
							pattern="yyyy-MM-dd HH:mm:ss" required="true"
							requiredMessage="El campo *Caduca* no debe ser vacio">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
						</p:calendar>

						<p:outputLabel for="tipobanner" value="Tipo Banner"></p:outputLabel>
						<p:selectOneMenu id="tipobanner"
							value="#{programacionBean.tipoBanner}" style="width:125px"
							requiredMessage="El campo *Tipo Banner* no debe ser vacio"
							required="true">
							<f:selectItem itemLabel="Seleccionar ..." itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems value="#{tipoBannerBean.listTiposBanners}"
								var="em" itemLabel="#{em.nombre}" itemValue="#{em.id}" />
						</p:selectOneMenu>

					</p:panelGrid>


					<p:separator />


					<p:panelGrid columns="2" style="margin: 0 auto;">
						<p:outputLabel for="fecha" value="Fecha"></p:outputLabel>
						<p:calendar id="fecha" value="#{programacionBean.fechaDate}"
							pattern="yyyy-MM-dd HH:mm:ss" required="true"
							requiredMessage="El campo *Fecha* no debe ser vacio">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
						</p:calendar>
					</p:panelGrid>

					<br></br>

					<p:commandButton value="Guardar"
						actionListener="#{programacionBean.agregar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogoNuevo').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogoNuevo').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<h:form id="formModificar">
				<p:dialog id="dlgModificar" widgetVar="dialogModificar"
					resizable="false" showEffect="explode" hideEffect="explode"
					modal="true" header="Modificar programación" appendToBody="true">
					<p:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel value="Fecha Anterior"></p:outputLabel>
						<h:outputText value="#{programacionBean.programacion.fecha}">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
						</h:outputText>

						<p:outputLabel value="Nueva Fecha"></p:outputLabel>
						<p:calendar id="fecha" value="#{programacionBean.fechaDate}"
							pattern="yyyy-MM-dd HH:mm:ss">
							<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
						</p:calendar>

						<!-- <p:outputLabel value="Fecha"></p:outputLabel>
						<p:calendar id="fecha"
							value="#{programacionBean.programacion.fecha}"
							pattern="yyyy/MM/dd HH:mm:ss"></p:calendar> -->

					</p:panelGrid>

					<p:commandButton value="Modificar"
						actionListener="#{programacionBean.editar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						validateClient="true" oncomplete="PF('dialogModificar').hide();"></p:commandButton>
					<p:commandButton value="Cancelar"
						onclick="PF('dialogModificar').hide();"></p:commandButton>
				</p:dialog>
			</h:form>

			<!-- dialogo eliminar -->
			<h:form id="formEliminar">
				<p:dialog id="dlgEliminar" widgetVar="dialogEliminar"
					resizable="false" showEffect="explode" hideEffect="explode"
					header="Eliminar programación" modal="true">
					<h:outputText value="Quiere eliminar este registro? "></h:outputText>
					<p:commandButton value="SI"
						actionListener="#{programacionBean.eliminar()}"
						update=":frmLista:tablaListar :frmLista:msgs"
						oncomplete="PF('dialogEliminar').hide();">
					</p:commandButton>
					<p:commandButton value="No" onclick="PF('dialogEliminar').hide();"></p:commandButton>

				</p:dialog>
			</h:form>
			<!-- fin dialogo eliminar -->

		</div>
	</ui:define>
</ui:composition>
