<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="description" content="" />
	<meta name="keywords"
		content="nexus bootstrap template, nexus admin, bootstrap,admin template, bootstrap admin," />
	<meta name="author" content="ThemesGround" />
	<title>terminal</title>

	<link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"
		rel="stylesheet" />
	<link href="webjars/font-awesome/4.6.3/css/font-awesome.min.css"
		rel="stylesheet" />


	<!-- Base Css Files -->
	<!-- <link href="/terminal/faces/css/jquery-ui-1.10.4.custom.min.css"
		rel="stylesheet" />-->
	<link href="/terminal/faces/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/terminal/faces/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/terminal/faces/css/all.css" rel="stylesheet" />
	<link href="/terminal/faces/css/fontello.css" rel="stylesheet" />
	<link href="/terminal/faces/css/animate.min.css" rel="stylesheet" />
	<link href="/terminal/faces/css/component.css" rel="stylesheet" />
	<link href="/terminal/faces/css/magnific-popup.css" rel="stylesheet" />
	<link href="/terminal/faces/css/ios7-switch.css" rel="stylesheet" />
	<link href="/terminal/faces/css/pace.css" rel="stylesheet" />
	<link href="/terminal/faces/css/sortable-theme-bootstrap.css"
		rel="stylesheet" />
	<link href="/terminal/faces/css/datepicker.css" rel="stylesheet" />

	<link href="/terminal/faces/css/github.css" rel="stylesheet" />
	<link href="/terminal/faces/css/style.css" rel="stylesheet"
		type="text/css" />
	<link href="/terminal/faces/css/style-responsive.css" rel="stylesheet" />

	<!-- iconos -->
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57"
		href="images/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72"
		href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76"
		href="images/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114"
		href="images/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120"
		href="images/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144"
		href="images/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152"
		href="images/apple-touch-icon-152x152.png" />

</h:head>

<h:body class="fixed-left login-page">

	<div class="container">
		<div class="full-content-center">
			<p>
				<img src="/terminal/faces/images/terminal.png" />
			</p>
			<div class="login-wrap animated flipInX">
				<div class="login-block">
					<img src="/terminal/faces/images/default-user.jpg"
						class="img-circle not-logged-avatar" />

					<h:form>
						<p:growl id="growl" showDetail="true" sticky="true" />
						<div class="form-group login-input">
							<i class="fa fa-user overlay"></i>

							<p:inputText style="padding-left:50px;" value="#{login.login}"
								label="Usuario" placeholder="Nombre de Usuario"
								class="form-control" />
						</div>
						<div class="form-group login-input">
							<i class="fa fa-key overlay"></i>
							<p:password style="padding-left:50px;"
								value="#{login.contrasena}" placeholder="Contraseña"
								label="Contraseña" class="form-control" />
						</div>
						<!-- <f:view transient="true">-->
						<div class="row">
							<div class="col-sm-12">
								<!-- <button type="submit" class="btn btn-login btn-block">LOGIN</button>-->
								<p:commandButton class="btn btn-login btn-block" value="INGRESAR"
									actionListener="#{login.procesarIngreso}" update="growl">
								</p:commandButton>
							</div>
							<!-- <div class="col-sm-6">
								<a href="register.html" class="btn btn-reg btn-block">Register</a>
							</div> -->
						</div>
						<!-- </f:view>-->

					</h:form>
				</div>
			</div>

		</div>
	</div>
	<!-- the overlay modal element -->
	<div class="md-overlay"></div>
	<!-- End of eoverlay modal -->
	<script>
		var resizefunc = [];
	</script>


</h:body>

</html>
