<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>

	<STYLE type="text/css">
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: #383838;
	font-size: larger !important;
	font-size: 20px;
}

.ui-carousel .ui-carousel-header {
	display: none;
}

.ui-datatable tbody td {
	border: 1px solid #a8a8a8;
	background: #383838;
	color: #ffffff;
	font-weight: bold;
}

/* STRUCTURE */
#pagewrap {
	width: 100%;
	height: 100%;
}

header {
	height: 120px;
	padding: 0 15px;
}

#logo {
	width: 20%;
	height: 100%;
	float: left;
}

#title {
	float: left;
	width: 80%;
	height: 100%;
}

#carousel {
	width: 100%;
	height: 100%;
	float: left;
}

#hour {
	float: left;
	width: 100%;
	height: 15%;
}

#content {
	width: 60%;
	float: left;
}

video {
	width: 100%;
}

#video {
	width: 39%; /* Account for margins + border values */
	float: left;
}

footer {
	clear: both;
	height: 120px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	#pagewrap {
		width: 100%;
	}
	#content {
		width: 60%;
	}
	#video {
		width: 38%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {
	#content {
		width: auto;
		float: none;
	}
	#video {
		width: auto;
		float: none;
		margin-left: 0px;
	}
}

/* for 480px or less */
@media screen and (max-width: 480px) {
	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
}

#content {
	background: #383838;
}

header, #content, #video {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #video, footer {
	
}
</STYLE>
</h:head>



<h:body onload="myNewSrc()">

	<p:growl id="msj" widgetVar="wmsj" showDetail="true" />

	<p:socket onMessage="handleMessage" channel="/notify">
		<p:ajax event="message" update=":frmLista:tablaListar" />
	</p:socket>

	<script type="text/javascript">
            function handleMessage(facesmessage) {
                facesmessage.severity = 'info';

                PF('wmsj').show([facesmessage]);
            }
        </script>



	<div id="pagewrap">

		<header>
			<div id="logo">
				<img style="width: 180pt; height: 80pt;"
					src="/terminal/faces/images/terminal.png"></img>
			</div>
			<div id="title" style="text-align: center">
				<h1>BIENVENIDOS AL TERMINAL DE TRANSPORTES DE PASTO – NARIÑO</h1>
			</div>
		</header>

		<section id="content">
			<h:form id="frmLista">
				<p:dataTable id="tablaListar" var="item"
					value="#{controlBean.listControles}"
					emptyMessage="No hay controles registrados" rows="12"
					widgetVar="controltable"
					style="background: #656060!important; font-weight: inherit; ">

					<p:column id="empresa" headerText="Empresa">
						<p:outputLabel value="#{item.vehiculo.empresa.nombre}"></p:outputLabel>
					</p:column>

					<p:column headerText="Vehiculo" id="vehiculo" style="width: 17%;">
						<p:outputLabel
							value="#{item.vehiculo.numero} - #{item.vehiculo.placa}"></p:outputLabel>
					</p:column>

					<p:column id="linea" headerText="Linea" style="width: 12%;">
						<p:outputLabel value="#{item.vehiculo.linea.nombre}"></p:outputLabel>
					</p:column>

					<p:column id="destino" headerText="Destino">
						<p:outputLabel value="#{item.destino}"></p:outputLabel>
					</p:column>

					<p:column headerText="Hora salida" id="horaSalida"
						style="width: 14%;">
						<p:outputLabel value="#{item.horaSalida}"></p:outputLabel>
					</p:column>

					<p:column id="zona" headerText="Zona" style="width: 8%;">
						<p:outputLabel value="#{item.zona.nombre}"></p:outputLabel>
					</p:column>

				</p:dataTable>
			</h:form>
		</section>

		<section id="video">
			<video preload="auto" onended="myAddListener()" autoplay="autoplay"
				controls="controls" title="" poster="https://placehold.it/350x150">
				<source src="" type="video/mp4"></source>
			</video>
			<div id="hour" style="text-align: center">
				<BR /> <BR />
				<p:clock pattern="dd-MMM-yyyy h:mm:ss a" />
			</div>
		</section>

		<footer>
			<div id="carousel">
				<p:carousel value="#{imagenBean.listImagenes}" var="car" responsive="true"
					circular="true" autoPlayInterval="5000" numVisible="3"
					itemStyle="text-align:center; border:0px;height:150px;width:300px;">
					<img src="#{car.ruta}" />
				</p:carousel>
			</div>
		</footer>

	</div>



	<h:form>
		<h:outputText id="txt_count" value="#{programacionBean.number}" />
		<p:poll interval="10" listener="#{programacionBean.increment}"
			update="txt_count" />
	</h:form>

	<script type="text/javascript">
	var myArray2 = '#{bannerBean.getListVideos()}';
	var b = /"/g;
	var videoSources = myArray2.toString();
	videoSources = videoSources.replace("[","");
	videoSources = videoSources.replace("]","");
	videoSources = videoSources.replace(b,"");
	videoSources = videoSources.replace("\"","");
	videoSources = videoSources.split(","); 
	
	console.log(videoSources);
	var videoSources2 = ["//localhost:8084/terminal/videos/tinpu_error.mp4", "http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4", "http://www.html5videoplayer.net/videos/toystory.mp4", "http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4", "http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4", "http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4"];
	
	var currentIndex = 0;
	// listener function changes src
	function myNewSrc() {
	    var myVideo = document.getElementsByTagName('video')[0];
	    console.log(videoSources[0]);
	    console.log(videoSources[1]);
	    console.log(videoSources[2]);
	    myVideo.src = videoSources[currentIndex];
	    myVideo.load();
	}


// add a listener function to the ended event
function myAddListener(){
    var myVideo = document.getElementsByTagName('video')[0];
    currentIndex = (currentIndex+1) % videoSources.length;
    myVideo.src = videoSources[currentIndex];
    myVideo.addEventListener('ended', myNewSrc, false);
    
}

</script>
</h:body>
</html>
