<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<title>T E R M I N A L</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="description" content="" />
	<meta name="keywords"
		content="nexus bootstrap template, nexus admin, bootstrap,admin template, bootstrap admin," />
	<meta name="author" content="ThemesGround" />

	<!-- <link href="/terminal/faces/css/jquery-ui-1.10.4.custom.min.css"
	rel="stylesheet" />-->
	<link href="/terminal/faces/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/terminal/faces/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/terminal/faces/css/fontello.css" rel="stylesheet" />
	<link href="/terminal/faces/css/animate.min.css" rel="stylesheet" />
	<link href="/terminal/faces/css/component.css" rel="stylesheet" />
	<link href="/terminal/faces/css/magnific-popup.css" rel="stylesheet" />
	<link href="/terminal/faces/css/ios7-switch.css" rel="stylesheet" />
	<link href="/terminal/faces/css/pace.css" rel="stylesheet" />
	<link href="/terminal/faces/css/sortable-theme-bootstrap.css"
		rel="stylesheet" />
	<!-- <link href="/terminal/faces/css/datepicker.css" rel="stylesheet" /> -->
	<link href="/terminal/faces/css/all.css" rel="stylesheet" />
	<!-- Code Highlighter for Demo -->
	<link href="/terminal/faces/css/github.css" rel="stylesheet" />

	<!-- Extra CSS Libraries Start -->
	<!-- jvectormap -->
	<link rel="stylesheet"
		href="/terminal/faces/css/jquery-jvectormap-1.2.2.css" />
	<!-- Date Picker -->
	<!-- <link rel="stylesheet" href="/terminal/faces/css/datepicker.css" /> -->

	<!-- bootstrap wysihtml5 - text editor -->
	<link rel="stylesheet"
		href="/terminal/faces/css/bootstrap3-wysihtml5.min.css" />
	<link href="/terminal/faces/css/style.css" rel="stylesheet"
		type="text/css" />
	<link href="/terminal/faces/css/main.css" rel="stylesheet"
		type="text/css" />
	<link href="/terminal/faces/css/style-responsive.css" rel="stylesheet" />


	<link rel="apple-touch-icon"
		href="/terminal/faces/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57"
		href="/terminal/faces/images/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72"
		href="/terminal/faces/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76"
		href="/terminal/faces/images/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114"
		href="/terminal/faces/images/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120"
		href="/terminal/faces/images/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144"
		href="/terminal/faces/images/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152"
		href="/terminal/faces/images/apple-touch-icon-152x152.png" />

</h:head>

<body class="fixed-left">


	<div id="wrapper">

		<!-- Top Bar Start -->
		<div class="topbar">
			<div class="topbar-left">
				<div class="logo">
					<h1>
						<a href="/terminal/home"><img
							style="width: 120px;"
							src="/terminal/faces/images/terminal.png"></img></a>
					</h1>
				</div>

			</div>
			<!-- Button mobile view to collapse sidebar menu -->
			<div class="navbar" role="navigation">

				<div class="container">

					<div class="navbar-collapse2">
						<button class="button-menu-mobile open-left">
							<i class="fa fa-bars"></i>
						</button>
						<h1 class="title">MENU PRINCIPAL</h1>
						<ul class="nav navbar-nav navbar-right top-navbar">
							<li>
								<!-- Search form -->
<!-- 								<form role="search" class="navbar-form">
									<div class="form-group">
										<input type="text" placeholder="" class="form-control" />
										<button type="submit" class="btn search-button">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</form> -->
							</li>

<!-- 							<li class="dropdown notifications-menu hide-phone topbar-profile"><a
								href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="fa fa-group"></i></a>
								<ul class="dropdown-menu">
									<center>
										<h4>Gestión Usuarios</h4>
									</center>
									 <li class="header"><h:outputLink value="tipousuario"><span>Roles</span>
								</h:outputLink></li>
								<li class="header"><h:outputLink value="tipousuario"><span>Usuarios</span>
								</h:outputLink></li>

									<li><a href="#">Roles</a></li>
									<li><a href="#">Usuarios</a></li>
								</ul></li> -->



							<li class="dropdown topbar-profile"><a href="#"
								class="dropdown-toggle" data-toggle="dropdown"><span
									class="rounded-image topbar-profile-image"><img
										src="/terminal/faces/images/user-40.jpg" /></span> Administrador </a>
								<ul class="dropdown-menu">
<!-- 									<li><a href="#">My Profile</a></li>
									<li><a href="#">Change Password</a></li>
									<li><a href="#">Account Setting</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="icon-help-2"></i> Help</a></li>
									<li><a href="lockscreen.html"><i class="icon-lock-1"></i>
											Lock me</a></li> -->
									<li><a class="md-trigger" data-modal="logout-modal"><i
											class="icon-logout"></i> Logout</a></li>
								</ul></li>

							<!-- <li class="right-opener"><a href="#" class=""><i
									class="fa fa-power-off" aria-hidden="true"></i></a></li> -->
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- Top Bar End -->

		<!-- Left Sidebar Start -->
		<div class="left side-menu">
			<div class="sidebar-inner slimscrollleft">
				<!--- Profile -->
				<div class="profile-info">
					<div>
						<a href="profile.html" class="rounded-image profile-image"><img
							src="/terminal/faces/images/user-100.jpg" /></a>
					</div>
					<div>
						<div class="profile-text">Mario Ortiz</div>
						<!--<a href="#"><i class="fa fa-circle text-success"></i>Online</a>-->
					</div>
				</div>

				<div id="sidebar-menu">

					<ul>
						<li><h:outputLink value="home">
								<i class="fa fa-home"></i>
								<span>Inicio</span>
							</h:outputLink></li>


						<li><h:outputLink value="empresas">
								<i class="fa fa-users"></i>
								<span>Empresas</span>
							</h:outputLink></li>

						<li><h:outputLink value="tipogrupo">
								<i class="fa fa-users"></i>
								<span>Tipos Grupo</span>
							</h:outputLink></li>


						<li><h:outputLink value="tiposervicio">
								<i class="fa fa-users"></i>
								<span>Tipos Servicio</span>
							</h:outputLink></li>

						<li><h:outputLink value="tipobanner">
								<i class="fa fa-users"></i>
								<span>Tipos Banner</span>
							</h:outputLink></li>

						<li><h:outputLink value="vehiculos">
								<i class="fa fa-users"></i>
								<span>Vehiculos</span>
							</h:outputLink></li>

						<li><h:outputLink value="controles">
								<i class="fa fa-users"></i>
								<span>Controles</span>
							</h:outputLink></li>

						<li><h:outputLink value="programacion">
								<i class="fa fa-users"></i>
								<span>Programacion</span>
							</h:outputLink></li>
							
							<li><h:outputLink value="lineas">
								<i class="fa fa-users"></i>
								<span>Lineas</span>
							</h:outputLink></li>
							
							<li><h:outputLink value="logos">
								<i class="fa fa-users"></i>
								<span>Logos</span>
							</h:outputLink></li>



						<!--  	<li class='has_sub'><a href='javascript:void(0);'><i
								class="fa fa-group"></i> <span>Administrar usuarios</span> <span
								class="pull-right"><i class="fa fa-angle-down"></i></span></a>
							<ul>
								<li><h:outputLink value="tipousuario"><span>Roles</span>
								</h:outputLink></li>
								<li><h:outputLink value="tipousuario"><span>Usuarios</span>
								</h:outputLink></li>
							</ul></li>-->

						<!--  	<li class='has_sub'><a href='javascript:void(0);'><i
								class="fa fa-male"></i> <span>Administrar</span> <span
								class="pull-right"><i class="fa fa-angle-down"></i></span></a>
							<ul>
								<li><h:outputLink value="#"><span>Clientes</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Diseños</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Dimensiones</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Marcas</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Pesos</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Resolucion ajustes</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Resolucion isnpecciones</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Causas de reproceso</span>
								</h:outputLink></li>
							</ul></li>-->

						<!--  	<li class='has_sub'><a href='javascript:void(0);'><i
								class="fa fa-magic"></i> <span>Proceso</span> <span
								class="pull-right"><i class="fa fa-angle-down"></i></span></a>
							<ul>
								<li><h:outputLink value="#"><span>Entradas</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Inspeccion Inicial</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Reproceso</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Inspeccion final</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Salidas</span>
								</h:outputLink></li>
								<li><h:outputLink value="#"><span>Cambio ubicacion</span>
								</h:outputLink></li>
							</ul></li>-->

					</ul>
				</div>


			</div>

		</div>
		<!-- Left Sidebar End -->

		<!-- Right Sidebar End -->
		<!-- Start right content -->
		<div class="content-page">
			<div class="content">

				<ui:insert name="contenido">

				</ui:insert>



			</div>

		</div>
	</div>

	<div id="contextMenu" class="dropdown clearfix">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
			style="display: block; position: static; margin-bottom: 5px;">
			<li><a tabindex="-1" href="javascript:;" data-priority="high"><i
					class="fa fa-circle-o text-red-1"></i> High Priority</a></li>
			<li><a tabindex="-1" href="javascript:;" data-priority="medium"><i
					class="fa fa-circle-o text-orange-3"></i> Medium Priority</a></li>
			<li><a tabindex="-1" href="javascript:;" data-priority="low"><i
					class="fa fa-circle-o text-yellow-1"></i> Low Priority</a></li>
			<li><a tabindex="-1" href="javascript:;" data-priority="none"><i
					class="fa fa-circle-o text-lightblue-1"></i> None</a></li>
		</ul>
	</div>



	<div class="md-overlay"></div>


	<script>
		var resizefunc = [];
	</script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/terminal/faces/js/jquery-1.11.1.min.js"></script>
	<script src="/terminal/faces/js/bootstrap.min.js"></script>
	<!-- <script src="/terminal/faces/js/jquery-ui-1.10.4.custom.min.js"></script> -->
	<script src="/terminal/faces/js/jquery.ui.touch-punch.min.js"></script>

	<script src="/terminal/faces/js/jquery.animateNumbers.js"></script>
	<script src="/terminal/faces/js/ios7.switch.js"></script>
	<script src="/terminal/faces/js/fastclick.js"></script>
	<script src="/terminal/faces/js/jquery.blockUI.js"></script>
	<script src="/terminal/faces/js/bootbox.min.js"></script>
	<script src="/terminal/faces/js/jquery.slimscroll.js"></script>
	<script src="/terminal/faces/js/jquery-sparkline.js"></script>

	<script src="/terminal/faces/js/sortable.min.js"></script>
	<script src="/terminal/faces/js/bootstrap.file-input.js"></script>
	<script src="/terminal/faces/js/bootstrap-select.min.js"></script>
	<script src="/terminal/faces/js/select2.min.js"></script>
	<script src="/terminal/faces/js/jquery.magnific-popup.min.js"></script>
	<script src="/terminal/faces/js/pace.min.js"></script>
	<!-- <script src="/terminal/faces/js/bootstrap-datepicker.js"></script> -->
	<script src="/terminal/faces/js/icheck.min.js"></script>

	<!-- Demo Specific JS Libraries -->
	<!-- <script src="/terminal/faces/js/prettify.js"></script>

	<script src="/terminal/faces/js/init.js"></script> -->


</body>




</html>
